[uwsgi]
# Имя модуля и приложения, которое запустит uWSGI
module = api:api

master = true
# Количество процессов uWSGI
processes = 1

# Указываем где создавать файл-сокет
socket = /tmp/api.sock
# Указываем пользователя и группу для сокет-файла
chmod-socket = 660
chown-socket = {{ user.name }}:{{ user.group }}
# Указываем пользователя и группу под которыми выполнять приложение
uid = {{ user.name }}
gid = {{ user.group }}

# Удаляем временные файлы uWSGI при выключении
vacuum = true
# При закрытии терминала - завершать работу
# Необходимо для корректного запуска с помощью systemd
die-on-term = true

